{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ASxAJ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  {% block content %}
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-3 col-xl-4  d-block">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Stock Market Prediction<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-9 col-xl-8 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#features-section" class="nav-link">Features</a></li>
                  <a href="#about-section" class="nav-link">About Us</a>

                <li><a href="login" class="nav-link">Login</a></li>
                <li><a href="register" class="nav-link">Register</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            
            <img src="{%static 'home/images/undraw_investing_7u74.svg' %}" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>Make Your Investment More Profitable</h1>
                <p class="mb-5">Make investing in stock market more easier and profitable with
                    the latest version of stock market prediction models offered by out prodect's cutting edge technology</p>
                <div>
                  <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
                </div>
              </div>
              
              
            </div>

          </div>
        </div>
      </div>
    </div>  


    <div class="site-section" id="features-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
            <h2 class="section-title">Product Features</h2>
            <p class="lead">Easy to use and creative features are oofered by our product</p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
              </div>
              <div>
                <h3>Market Prediction</h3>
                <p>Latest Stock market prediction models in order to accurately predict the stock market trends.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
              </div>
              <div>
                <h3>Market Analysis</h3>
                <p>Easier analysis of stocks from various stock markets using sentiment analysis and various other analysing techniques.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
              </div>
              <div>
                <h3>Easy Purchase</h3>
                <p>Fluid platform for easier purchasing and selling of stocks without delays.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-settings_backup_restore"></span></span>
              </div>
              <div>
                <h3>Crossplatform Notification</h3>
                <p>Up to date live notifications of stock news and stock related informations and other things.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
              </div>
              <div>
                <h3>100% User Friendly</h3>
                <p>Easy to use and personalised interface for each users with increased security and stability.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>

            
          </div>
          
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-power"></span></span>
              </div>
              <div>
                <h3>Charts and Graphs</h3>
                <p>Live charts and graphs to increase the understandability and observability.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <div class="feature-big">
      <div class="container">
        <div class="row mb-5 site-section">
          <div class="col-lg-7" data-aos="fade-right">
            <img src="{%static 'home/images/undraw_gift_card_6ekc.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">Market Trends</h2>
            <p class="mb-4">Stock Market is for you if you are finding ways to make money. We provide the latest market trends so that you could practice sensible investment.</p>

            <div class="author-box" data-aos="fade-left">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="{%static 'home/images/person_4.jpg' %}" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Warren Buffett</strong> <br>
                  CEO, Berkshire Hathaway
                </div>
              </div>
              <blockquote>&ldquo;The most important quality for an investor is temperament, not intellect.&rdquo;</blockquote>
            </div>
          </div>
        </div>

        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
            <img src="{%static 'home/images/undraw_metrics_gtu7.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h2 class="text-black">Market Analysis</h2>
            <p class="mb-4">Fundamental and Technical analysis provided by our product makes your investing life easier and profitable.</p>
            
            

            <div class="author-box" data-aos="fade-right">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="{%static 'home/images/person_1.jpg' %}" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Benjamin Graham</strong> <br>
                  Investor
                </div>
              </div>
              <blockquote>&ldquo;The intelligent investor is a realist who sells to optimists and buys from pessimists.&rdquo;</blockquote>
            </div>
          </div>
        </div>

        <div class="row mb-5 site-section">
          <div class="col-lg-7" data-aos="fade-right">
            <img src="{%static 'home/images/undraw_gift_card_6ekc.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">Market Technologies</h2>
            <p class="mb-4">Moving averages, sentiment analysis, historical price prediction etc when combined makes our product a very powerful tool for investors</p>
            
            <div class="author-box" data-aos="fade-left">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="{%static 'home/images/person_4.jpg' %}" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Jeff Atwood</strong> <br>
                  American software developer, author, blogger, and entrepreneur.
                </div>
              </div>
              <blockquote>&ldquo;We have to stop optimizing for programmers and start optimizing for users.&rdquo;</blockquote>
            </div>
          </div>
        </div>

        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
            <img src="{%static 'home/images/undraw_metrics_gtu7.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h2 class="text-black">Stock Market Prediction</h2>
            <p class="mb-4">The Stock Market is chaotic and unpredictable where any slight fluctuation in supply and demand will affect stock prices. Our product helps investors to predict stock prices which gives them a competitive edge.</p>
            
            

            <div class="author-box" data-aos="fade-right">
              <div class="d-flex mb-4">
                <div class="mr-3">
                  <img src="{%static 'home/images/person_1.jpg' %}" alt="Image" class="img-fluid rounded-circle">
                </div>
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Warren Buffett</strong> <br>
                  CEO, Berkshire Hathaway.
                </div>
              </div>
              <blockquote>&ldquo;Derivatives are financial weapons of mass destruction.&rdquo;</blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">About Us</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{%static 'home/images/undraw_bookmarks_r6up.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2>
            <p class="mb-4">We aime to Create an interface which can help investors or financial advisors
              to predict stock prices which in turn gives them a competitive edge in the highly volatile environment of stock market.</p>
            <ul class="ul-check mb-5 list-unstyled success">
              <li>To identify factors affecting share market.</li>
              <li>To generate a pattern from huge set of previous stock market data.</li>
              <li>To predict the approximate value of the share price.</li>
              <li>To provide analysis for users through web application.</li>
            </ul>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>

        
      </div>
    </div>

    <div class="site-section" id="our-team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
            <h2 class="section-title">Our Team</h2>
            <p class="lead">We are a team of Btech Students with flying ambitions</p>
          </div>
        </div>
       
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="{%static 'home/images/aditya.jpg' %}" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="https://www.facebook.com/Aditya.suresh15"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/Lord_Fifth_"><span class="icon-twitter"></span></a>
                  <a href="https://www.instagram.com/_aditya.suresh_/"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Aditya Suresh</h2>
              <span class="sub-title d-block mb-3">Team Member 1</span>
              <p>Student of eighth semester, computer science at Sree Chithra Thirunal college of engineering, pappanamcode</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="{%static 'home/images/xena.jpg' %}" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="https://www.facebook.com/arun.xena1"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/X3NA3"><span class="icon-twitter"></span></a>
                  <a href="https://www.instagram.com/arun_xena/"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Arun Xena</h2>
              <span class="sub-title d-block mb-3">Team Member 2</span>
              <p>Student of eighth semester, computer science at Sree Chithra Thirunal college of engineering, pappanamcode</p>
              
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="person">
              <div class="bio-img">
                <figure>
                  <img src="{%static 'home/images/ashis.jpg' %}" alt="Image" class="img-fluid">
                </figure>
                <div class="social">
                  <a href="https://www.facebook.com/ashismurickolil"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/imASHIS_AJ"><span class="icon-twitter"></span></a>
                  <a href="https://www.instagram.com/im_ashis_jose/"><span class="icon-instagram"></span></a>
                </div>
              </div>
              <h2 class="text-black h1">Ashis Jose</h2>
              <span class="sub-title d-block mb-3">Team Member 3</span>
              <p>Student of eighth semester, computer science at Sree Chithra Thirunal college of engineering, pappanamcode</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section testimonial-wrap bg-light" id="testimonials-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Market Bracket</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="{%static 'home/images/aditya.jpg' %}" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>

              <blockquote class="mb-3">
                <p>&ldquo;Our product ensures ease of use for the users and accessibility at any time&rdquo;</p>
              </blockquote>
              
              <p class="text-black"><strong>Aditya Suresh</strong></p>
              
              
            </div>
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="{%static 'home/images/xena.jpg' %}" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <blockquote class="mb-3">
                <p>&ldquo;Our product ensures secure trading environment and transactions to be robust&rdquo;</p>
              </blockquote>
              <p class="text-black"><strong>Arun Xena</strong></p>

              
            </div>
           
          </div>

          <div>
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="{%static 'home/images/ashis.jpg' %}" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <blockquote class="mb-3">
                <p>&ldquo;Our product ensures predictability and gives that competitive edge that you have always wanted&rdquo;</p>
              </blockquote>
              <p class="text-black"><strong>Ashis Jose</strong></p>

              
            </div>

          </div>

        </div>
    </div>



    <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3 text-white">Contact Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form action="#" class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control rounded-0">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Leave your message here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>

    <div class="footer py-5 text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
              <a href="#" class="p-3"><span class="icon-pinterest"></span></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .site-wrap -->

  <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'home/js/jquery-ui.js' %}"></script>
  <script src="{% static 'home/js/popper.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'home/js/aos.js' %}"></script>
  <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'home/js/main.js' %}"></script>
  {% endblock %}
  </body>
</html>